
.App {
  text-align: center;
  background-color: #e5e5e5;
  position: relative;
}

.css-1ps6pg7-MuiPaper-root{
  background-color: transparent;
}

html, body, #root, .App {
  width: 100%;

  background-color: #e5e5e5;

}

.search-list {
  visibility: hidden;
}

.search-list_active{
  visibility: visible;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


